@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap");
@import "tailwindcss";

@theme inline {
  --color-on-tertiary-container: #ffe6cc;
  --color-on-surface: #181c1c;
  --color-secondary-container: #6df5e1;
  --color-error-container: #ffdad6;
  --color-on-tertiary: #ffffff;
  --color-primary-container: #E6EDF1;
  --color-on-error: #ffffff;
  --color-on-primary: #ffffff;
  --color-on-tertiary-fixed: #2a1700;
  --color-primary-fixed: #9cf2e8;
  --color-primary: #014976;
  --color-tertiary-fixed: #ffddb8;
  --color-inverse-on-surface: #eef1f0;
  --color-tertiary-container: #945d00;
  --color-surface-tint: #006a63;
  --color-on-primary-container: #a3faef;
  --color-inverse-surface: #2d3130;
  --color-inverse-primary: #80d5cb;
  --color-tertiary: #734700;
  --color-on-primary-fixed: #00201d;
  --color-secondary: #F8AD44;
  --color-secondary-fixed-dim: #4fdbc8;
  --color-on-primary-fixed-variant: #00504a;
  --color-surface: #f7faf8;
  --color-surface-container-high: #e5e9e7;
  --color-surface-bright: #f7faf8;
  --color-surface-variant: #e0e3e1;
  --color-on-secondary-container: #006f64;
  --color-primary-fixed-dim: #80d5cb;
  --color-on-surface-variant: #3e4947;
  --color-on-tertiary-fixed-variant: #653e00;
  --color-surface-dim: #d7dbd9;
  --color-outline: #6e7977;
  --color-background: #f7faf8;
  --color-outline-variant: #bdc9c6;
  --color-on-background: #181c1c;
  --color-on-secondary-fixed-variant: #005048;
  --color-on-secondary: #ffffff;
  --color-secondary-fixed: #71f8e4;
  --color-tertiary-fixed-dim: #ffb95f;
  --color-surface-container-low: #f1f4f3;
  --color-surface-container-highest: #e0e3e1;
  --color-on-error-container: #93000a;
  --color-error: #ba1a1a;
  --color-surface-container: #ebefed;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-fixed: #00201c;

  --font-headline: var(--font-din-next-lt-arabic), ui-sans-serif, system-ui;
  --font-body: var(--font-din-next-lt-arabic), ui-sans-serif, system-ui;
  --font-label: var(--font-din-next-lt-arabic), ui-sans-serif, system-ui;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .tonal-shift-no-border {
    border: none;
  }
  .tonal-layering-surface-container-low {
    background-color: var(--color-surface-container-low);
  }
}

@media print {
  @page {
    size: A4;
    margin: 12mm;
  }

  body {
    background: #ffffff !important;
  }

  .print-hidden {
    display: none !important;
  }
}
